{% extends 'base.html' %} {%block title%} Register Store {% endblock %} 
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
<h1>List Of All Books</h1>
  <table class="table m-4">
    <thead>
      <tr>
        <th scope="col"> Book_Id </th>
        <th scope="col"> Book Name </th>
        <th scope="col"> Author Name </th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <th scope="row">{{book.id}}</th>
        <td>{{book.book_name}}</td>
        <td>{{book.author_name}}</td>
        <td>{{book.quantity}}</td>
    </tr>
    {%endfor %}
    
    </tbody>
  </table>
  
  <h1>Add Book</h1>
  <form method="POST"  class="m-3">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success btn-block" type="submit" value="Add">
  </form>
</div>

{% endblock %}